.header{
    width: 1280px;
    text-align: center;
}
.header img{
    height: 80px;
}
.header nav{
    background-color: black;
    line-height: 40px;
    font-size: 20px;       
}
.header nav a{
    color: white;
    margin-right: 30px;
    padding: 5px;
}
.header nav a:hover{
    background-color: gray;
}